<ul class="sidebar">
  <li><a href="/" class="introduction">Introduction</a></li>
  <li><a href="/stack">Stack</a></li>
  <li><a href="/heap">Heap</a></li>
  <li><a href="/queue">Queue</a></li>
  <li><a href="/dequeue">Dequeue</a></li>
  <li><a href="/priority-queue">Priority Queue</a></li>
  <li><a href="/single-linked-list">Single Linked List</a></li>
  <li><a href="/double-linked-list">Double Linked List</a></li>
  <li><a href="/binary-search-tree">Binary Search Tree</a></li>
</ul>
