<% include partials/header %>

    <div id="main"></div>
    <div>
      <input id="insert_value" type="number" />
      <button id="insert_button">insert</button>
    </div>
    <div>
      <input id="remove_value" type="number" />
      <button id="remove_button">remove</button>
    </div>

<% include partials/footer %>