<% include partials/header %>
<h1>B - Tree</h1>
<div><input id="insert_value" type="number" placeholder="value" /> <button id="insert_button">insert</button></div>
<div><input id="remove_value" type="number" placeholder="value" /> <button id="remove_button">remove</button></div>
<div id="main"></div>
<script type="module" src="./js/visualize_bTree.js"></script>
<% include partials/footer %>
