<% include partials/header %>

    <div id="name">Max Heap</div>
    <div id="main"></div>
    <div>
      <input id="insert_value" type="number" />
      <button id="insert_button">insert</button>
    </div>
    <div>
      <button id="pop_button">pop</button>
    </div>
    <div>
      <button id="change_button">Max / Min heap</button>
    </div>

<% include partials/footer %>