<% include partials/header %>

<h1 class="index-title">Data<br />Structure<br />in JavaScript</h1>
<h5 class="author"><a href="http://github.com/sangw0804" target="_blank">Sangwoo Oh</a></h5>
<% include partials/footer %>
