<% include partials/header %>
<h1>Priority Queue</h1>
<div>
  <input id="enqueue_priority_value" type="number" placeholder="priority" />
  <input id="enqueue_value_value" type="text" placeholder="value" /> <button id="enqueue_button">enqueue</button>
  <button id="dequeue_button">dequeue</button>
</div>
<div id="main"></div>
<script type="module" src="./js/visualize_priority.js"></script>
<% include partials/footer %>
