<% include partials/header %>

    <div id="main"></div>
    <div>
      priority : <input id="enqueue_priority_value" type="number" />
      value : <input id="enqueue_value_value" type="text" placeholder="value" />
      <button id="enqueue_button">enqueue</button>
    </div>
    <div>
      <button id="dequeue_button">dequeue</button>
    </div>

<% include partials/footer %>