<% include partials/header %>
<h1>Single Linked List</h1>
<div>
  <input id="push_value" type="text" placeholder="value" /> <button id="push_button">push</button
  ><button id="pop_button">pop</button>
</div>
<div>
  <input id="unshift_value" type="text" placeholder="value" /> <button id="unshift_button">unshift</button
  ><button id="shift_button">shift</button>
</div>
<div>
  <input id="insert_index_value" type="number" placeholder="index" /><input
    id="insert_value_value"
    type="text"
    placeholder="value"
  />
  <button id="insert_button">insert</button>
</div>
<div>
  <input id="remove_index_value" type="number" placeholder="index" /> <button id="remove_button">remove</button
  ><button id="reverse_button">reverse</button>
</div>
<div id="main"></div>
<script type="module" src="./js/visualize_sll.js"></script>
<% include partials/footer %>
