<% include partials/header %>

    <div id="main"></div>
    <div>
      <input id="push_value" type="text" placeholder="value" />
      <button id="push_button">push</button>
    </div>
    <div>
      <button id="pop_button">pop</button>
    </div>
    <div>
      <input id="unshift_value" type="text" placeholder="value" />
      <button id="unshift_button">unshift</button>
    </div>
    <div>
      <button id="shift_button">shift</button>
    </div>
    <div>
      index : <input id="insert_index_value" type="number" />
      value : <input id="insert_value_value" type="text">
      <button id="insert_button">insert</button>
    </div>
    <div>
      index : <input id="remove_index_value" type="number" />
      <button id="remove_button">remove</button>
    </div>
    <div>
      <button id="reverse_button">reverse</button>
    </div>

<% include partials/footer %>