<% include partials/header %>
<h1>Stack</h1>
<div>
  <input id="push_value" type="text" placeholder="value" /> <button id="push_button">push</button>
  <button id="pop_button">pop</button>
</div>
<div id="main"></div>
<script type="module" src="./js/visualize_stack.js"></script>
<% include partials/footer %>
