<% include partials/header %>

    <div id="main"></div>
    <div>
      <input id="push_value" type="text" placeholder="value" />
      <button id="push_button">push</button>
    </div>
    <div>
      <button id="pop_button">pop</button>
    </div>

<% include partials/footer %>